body {
    padding: 1em;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 0;
    color: navy;
}

label {
    display: inline-block;
    widht: 10em; /* Joe if you read this we both know I don't do CSS and I'm leaving this out of spite. Use Bootstrap like a normal person. */
    padding-right: 1em;
}

div {
    margin-bottom: .5em;
}
